name: build

on: [push, pull_request]

jobs:
  build-and-test-ubuntu:
    name: Ubuntu (python ${{ matrix.python-version }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true

      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc g++ libxerces-c-dev

      - name: Install package
        run: pip install .

      - name: Install pytest
        run: pip install pytest

      - name: Run tests
        run: python -m pytest tests

  build_wheels:
    name: Build wheels
    runs-on: ${{ matrix.os }}
    needs:
      - build-and-test-ubuntu
    strategy:
      matrix:
        os: ["ubuntu-latest"]

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          allow-prereleases: true

      - name: Install cibuildwheel
        run: |
          python -m pip install -U pip
          python -m pip install cibuildwheel

      - name: Build wheels (Ubuntu)
        if: matrix.os == 'ubuntu-latest'
        run: |
          python -m cibuildwheel --platform linux --output-dir wheelhouse
        env:
          CIBW_BEFORE_ALL_LINUX: "bash scripts/install_xerces_c.sh"
          CIBW_BUILD: "cp*-manylinux_x86_64"
          CIBW_PROJECT_REQUIRES_PYTHON: ">=3.9, <3.14"

      - uses: actions/upload-artifact@v5
        with:
          name: wheels-${{ matrix.os }}
          path: wheelhouse/*.whl

  make_sdist:
    name: Make sdist
    runs-on: ubuntu-latest
    needs:
      - build-and-test-ubuntu
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Build SDist
        run: pipx run build --sdist

      - uses: actions/upload-artifact@v5
        with:
          name: sdist
          path: dist/*.tar.gz

  test_built_wheels:
    name: Test Built Wheels
    runs-on: ${{ matrix.os }}
    needs: build_wheels
    strategy:
      matrix:
        os: [ "ubuntu-latest" ]
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true

      - uses: actions/download-artifact@v6
        with:
          name: wheels-${{ matrix.os }}
          path: dist

      - name: Verify installation
        run: |
          pip install pytest
          python -m pytest tests

  upload_all:
    name: Upload to pypi
    needs: [build_wheels, make_sdist]
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/download-artifact@v6
        with:
          name: wheels-ubuntu-latest
          path: dist

      - uses: actions/download-artifact@v6
        with:
          name: sdist
          path: dist

      - uses: pypa/gh-action-pypi-publish@v1.13.0
        with:
          user: __token__
          password: ${{ secrets.pypi_password }}
